{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static '/css/report2.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
</head>

<body>
    <header>
        <div class="logoSec">
            <div class="logo">LostButFound</div>
            <img src="{% static '/img/menuBarIcon.png' %}" class="icn menuIcn" id="menuIcn" alt="menu-icon">
        </div>


        <div class="message">
            <div class="circle"></div>
            <a href="#"><img src="{% static '/img/notIcon.png' %}" class="icn" alt=""></a>
            <div class="dp">
                <a href="{% url 'profile' %}"><img src="{{user.profile_pic.url}}" class="dpIcn" alt="dp"></a>
            </div>
        </div>
    </header>

    <div class="main-container">
        <div class="navContainer">
            <nav class="nav">
                <div class="nav-upper-options">
                    <a href="{% url 'dashboard' %}" class="option-link">
                        <div class="nav-option option1">
                            <img src="{% static '/img/dbIcon.png' %}" class="nav-img" alt="dashboard">
                            <h3>Dashboard</h3>
                        </div>
                    </a>
                    <a href="{% url 'report' %}" class="option-link">
                        <div class="nav-option option3">
                            <img src="{% static '/img/rpIcon.png' %}" class="nav-img" alt="report">
                            <h3>Report</h3>
                        </div>
                    </a>
                    <a href="{% url 'profile' %}" class="option-link">
                        <div class="nav-option option5">
                            <img src="{% static '/img/prIcon.png' %}" class="nav-img" alt="blog">
                            <h3>Profile</h3>
                        </div>
                    </a>
                    <a href="" class="option-link">
                        <div class="nav-option option6">
                            <img src="{% static '/img/setIcon.png' %}" class="nav-img" alt="settings">
                            <h3>Settings</h3>
                        </div>
                    </a>
					{% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="option-link">
					<div class="nav-option logout">
						<img src= "{% static '/img/logIcon.png' %}"	class="nav-img"	alt="logout">
						<h3> Logout</h3>
					</div>
					</a>
					{%else%}
                    <a href="{% url 'login' %}" class="option-link">
					<div class="nav-option logout">
						<img src= "{% static '/img/logIcon.png' %}"	class="nav-img"	alt="logout">
						<h3> Login</h3>
					</div>
                    </a>
					{% endif %}
                </div>
            </nav>
        </div>

        <div class="container">
            <div class="profile">
                <img src="{{user.profile_pic.url}}" alt="User Avatar">
                <h1>{{user.fullname}}</h1>
                <p>{{user.email}}</p>
                <p>{{user.matric_number}}</p>
            </div>
            <div class="edit-profile">
                <h2>Edit Profile</h2>
                <form action="" method = "POST" class="form" enctype = "multipart/form-data">
                    {% csrf_token %}
                    {% for fields in form  %}
                    <label for="{{fields.label}}">{{fields.label}}</label>
                    {{fields}}
                    {% endfor %}
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        let menuIcn = document.querySelector(".menuIcn");
        let nav = document.querySelector(".navContainer");

        menuIcn.addEventListener("click", () => {
            nav.classList.toggle("navclose");
        });
    </script>
</body>

</html>
