<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static '/css/register.css' %} " />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Join</title>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <header>Join Us</header>
        <form action="" method = "POST" class="form" enctype = "multipart/form-data">
          {% if form.errors %}<p style="color:red; font-size:15px;"> <br>Invalid Details</p><span class="main-heading " style="color:red; font-size:15px;">{{form.errors}} </span>{% else %} <span class="main-heading "><span class="highlight-text">{% endif %}</span></span>
          {% csrf_token %}
          <div class="field name">
            <div class="input-area">
              <input type="text" name = "fullname" placeholder="Full Name">
              <i class="icon fas fa-user-circle"></i>
            </div>
          </div>

          <div class="field name">
            <div class="input-area">
              <input type="text" name = "username" placeholder="username">
              <i class="icon fas fa-user-circle"></i>
            </div>
          </div>

          <div class="field email">
            <div class="input-area">
              <input type="text" name = "email" placeholder="Email Address">
              <i class="icon fas fa-envelope"></i>
            </div>
          </div>

          <div class="field matric">
            <div class="input-area">
              <input type="text" name = "matric_number" placeholder="Matric Number">
              <i class="icon fas fa-id-card"></i>
            </div>
          </div>

          <div class="field number">
            <div class="input-area">
              <input type="number" name = "phone_number" placeholder="Mobile Number">
              <i class="icon fas fa-phone"></i>
            </div>
          </div>

          <div class="field password">
            <div class="input-area">
              <input type="password" name="password1" placeholder="Password">
              <i class="icon fas fa-lock"></i>
            </div>
          </div>

          <div class="field confirm-password">
            <div class="input-area">
              <input type="password" name="password2" placeholder="Confirm Password">
              <i class="icon fas fa-lock"></i>
            </div>
          </div>
          
          <div class="field image">
            <div class="input-area">
              <span style = "color:white; margin-right:70%; "class="placeholder ">Profile Picture</span>
              <label  style = " float:left;" for="imageInput" class="icon fas fa-image"></label>
              <input type="file" name = "" placeholder="Profile Picture"accept="image/*" id="imageInput" />
            </div>
          </div>
          
          <div class="field gender">
            <div class="input-area">
              <h3>Gender</h3>
              <div class="gender-option">
                <div class="gender">
                  <input type="radio" id="check-male" name="gender" value="male" checked />
                  <label for="check-male">Male</label>
                </div>
                <div class="gender">
                  <input type="radio" id="check-female" name="gender" value="female" />
                  <label for="check-female">Female</label>
                </div>
                <div class="gender">
                  <input type="radio" id="check-other" name="gender" value="other" />
                  <label for="check-other">Rather not say</label>
                </div>
              </div>
            </div>
          </div>
          
          

          <input type="submit" value="Sign Up">
        </form>
        <div class="altButtons">
          <div class="sign-txt"><a href="{% url 'login' %}">Already Have An Account?</a></div>
        </div>
      </div>
  </body>
</html>