<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/report2.css' %}">
    <!-- <link rel="stylesheet" href="../css/report.css"> -->
</head>

<body>
    <!-- Header and Sidebar Navigation Code -->
    <header>

		<div class="logoSec">
			<div class="logo">LostButFound</div>
			<!-- The responsive menu bar icon -->
			<img src="{% static '/img/menuBarIcon.png' %}" class="icn menuIcn" id="menuIcn" alt="menu-icon">
		</div>

		<div class="message">
			<!-- The profile which is also a link to the profile bar -->
            <div class="dp">
                {%if user.is_authenticated %}
                <a href="{% url 'profile' %}"><img src= "{{user.profile_pic.url}}" class="dpIcn" alt="dp"></a>
                {% else %}
                <a href="{% url 'profile' %}"><img src= "{% static '/img/dpImage.png' %}" class="dpIcn" alt="dp"></a>
                {% endif %}
            </div>
		</div>

	</header>

	<div class="main-container">

		<div class="navContainer">
			<nav class="nav">
				<div class="nav-upper-options">
					
					<a href="{% url 'dashboard' %}" class="option-link">
						<div class="nav-option option1">   
							<h3>Dashboard</h3>	
						</div>
					</a>

					<div class="line"></div>

					<a href="{% url 'profile' %}" class="option-link">
						<div class="nav-option option5">
							<h3>Profile &nbsp;<i class="fa fa-user-o" aria-hidden="true"></i></h3>
						</div>
					</a>

					<a href="{% url 'report' %}" class="option-link">
						<div class="nav-option option3">
							<h3>Report &nbsp;<i class="fa fa-exclamation-circle" aria-hidden="true"></i></h3>
						</div>
					</a>

					<a href="{% url 'profile' %}" class="option-link">
						<div class="nav-option option6">
							<h3>Settings &nbsp;<i class="fa fa-cog" aria-hidden="true"></i></h3>
						</div>
					</a>

					{% if user.is_authenticated %}
						<a href="{% url 'logout' %}" class="option-link">
							<div class="nav-option logout">
								<h3>Logout &nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></h3>
							</div>
						</a>
					{% else %}
						<a href="{% url 'login' %}" class="option-link">
							<div class="nav-option logout">
								<h3>Login &nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></h3>
							</div>
						</a>
					{% endif %}

				</div>
			</nav>
		</div>
        <!-- Report Form -->
        <div class="container">
            <h3>Report an Item</h3>
            <form method= 'POST' action = '' enctype="multipart/form-data">
                {% csrf_token %}
                <label for="itemName">Item Name:</label>
                <input type="text" id="itemName" name="name" required>

                <label for="itemDescription">Item Description:</label>
                <textarea id="itemDescription" name="description" required></textarea>

                <label for="contactEmail">Location Found:</label>
                <input type="text" id="contactEmail" name="location_found" required>

                <label for="contactEmail">Email/Phone Number:</label>
                <input type="text" id="contactEmail" name="contactEmail" required>

                <label for="itemImage">Image:</label>
                <input type="file" id="itemImage" name="image" accept="image/*" required>
                <div class="button">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        let menuIcn = document.querySelector(".menuIcn");
        let nav = document.querySelector(".navContainer");

        menuIcn.addEventListener("click", () => {
            nav.classList.toggle("navclose");
        });
    </script>
</body>

</html>